.items {
    border: 1px solid black;
    background-color: rgba(189, 159, 163, 0.699);
}

.items h1 {
    text-align: center;
}

.items img {
display: flex;
margin: auto;
    width: 75%;
    height: 500px;
    margin-bottom: 20px;
    border: 1px solid black;
}